@import 'resolutions';
@import 'colors';
@import 'fonts';

.navegador{
	background: $amarillo;
	text-align: $centrar;
	font-family: $fuente;
	font-size: $tamanoGrande;
	color: $blanco;
	
 }

.menu{
	
	ul{
		li{
			background: $gris;
			color: $blanco;
			margin-top: $marginTop;
			font-size: $tamanoMediano;
			padding: $paddingMenu;
			font-family: $fuente;	

			

		}
	}
}


.alumnas{
  font-family: $fuente;
  font-size: $tamanoMediano;
 
}

.aside{

		div{
			background: $gris;
			color: $blanco;
			font-size: $tamanoMediano;
			padding: $paddingAside;
			font-family: $fuente;
			text-align: $centrar;
	}
}

.pie{
	p{
	background: $amarillo;
	font-family: $fuente;
	font-size: $tamanoGrande;
	text-align: $izquerda;
	}
	
 }